<IfModule mod_rewrite.c>
	RewriteEngine On
   	<Files .htaccess>
	order allow,deny
	deny from all
	</Files>

	# bảo vệ file wp-config
    <Files config.php>
    Order Allow,Deny
    Deny from all
    </Files>

	#chuyển hướng file lỗi 
	ErrorDocument 404 http://basephp.loca/pages

    Redirect 301 http://basephp.loca/ http://basephp.loca/pages/


</IfModule>
